/*Globales*/
body {
    margin: 0px;
}

a {
    font-family: 'Jost';
    font-size: 18px;
}

button {
    padding: 12px 25px;
    font-family: 'Jost';
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 300;
}

.banner-orange {
    margin-right: 10px;
    background-color: #FD909E;
    color: #fff;
    border: none;
}

h2 {
    margin: 5px 0px;
    color: #454868;
    font-family: 'Jost';
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.64px;
}