/*Section-2*/

#section-2 {
    padding: 20px 180px;
    background: #ed80fd26;
}

.section-2_info {
    display: flex;
    gap: 35px;
    margin: 70px 0px;
}

.section-2_sub-pink {
    color: #ed80fd;
}
