/*Section-1*/

#section-1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    padding:  20px 80px;
}

.section-1_info {
    width: 30%;
}


.section-1_info p {
    color: #454868;
    text-align: justify;
}

.section-1_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: min-content;
    
    height: 195px;
    border-radius: 48px;
    box-shadow: 0px 10px 50px #45486833;
    padding: 35px;
    text-align: center;
}

.section-1_card-down {
    margin-top: 50px;
}

.section-1_cards h3 {
    font-family: 'Jost';
    color: #454868;
    font-size: 18px;
    letter-spacing: 0.64px;
    line-height: 20px;


    text-align: center;
}